<nav class="navbar" style="padding-top: 0; padding-bottom: 0;">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="../assets/img/book.svg" alt="PDC" width="112" height="28">
      <h2>Contact Manager</h2>
    </a>
    <a class="navbar-item" href="#">
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://gitlab.com/akshay-rathod/contact-manager" target="_blank">
      <span class="icon" style="color: #333;">
        <span class="fab fa-github"></span>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/rathodaks" target="_blank">
      <span class="icon" style="color: #55acee;">
        <span class="fab fa-twitter"></span>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
    <div id="navMenubd-example" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link  is-active" href="#">
            Directory
          </span>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Add a new contact
            </a>
            <a class="navbar-item" href="/upload/contacts">
              List all your contacts
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <div>
                <p class="is-size-6-desktop">
                  <strong class="has-text-info">1.0</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            More
          </div>
          <div id="moreDropdown" class="navbar-dropdown ">
            <a class="navbar-item " href="">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <p>
                      <strong>Extensions</strong>
                      <br>
                      <small>Side projects to enhance Bulma</small>
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <span class="icon has-text-info">
                      <i class="fa fa-plug"></i>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->
        <!-- <a class="navbar-item " href="#">
          <span class="bd-emoji">🎨</span> &nbsp;Foo
        </a> -->
        <a class="navbar-item " href="#">
          <span class="bd-emoji">❤️</span> &nbsp;Favourites
        </a>
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item is-hidden-desktop-only" href="https://gitlab.com/akshay-rathod/contact-manager" target="_blank">
          <span class="icon" style="color: #333;">
            <span class="fab fa-github"></span>
          </span>
        </a>

        <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/rathodaks" target="_blank">
          <span class="icon" style="color: #55acee;">
            <span class="fab fa-twitter"></span>
          </span>
        </a>
  
        <div class="navbar-item has-dropdown is-active">
          <div class="navbar-link">
            Profile
          </div>
          <div id="moreDropdown" class="navbar-dropdown is-right">
            <!-- <a class="navbar-item" id="qsLoginBtn" *ngIf="!auth.isAuthenticated()" (click)="auth.login()"> -->
            <a class="navbar-item" id="qsLoginBtn">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <p>
                      <strong>Not logged in!</strong>
                      <br>
                      <small>Click here to log in.</small>
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <span class="icon has-text-info">
                      <i class="fas fa-sign-in-alt"></i>
                    </span>
                  </div>
                </div>
              </div>
            </a>
            <!-- <a class="navbar-item" *ngIf="auth.isAuthenticated()" (click)="auth.logout()" id="qsLogoutBtn"> -->
            <a class="navbar-item" id="qsLogoutBtn">
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item">
                    <p>
                      <strong>Logout</strong>
                      <br>
                      <small>Click here to log out.</small>
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <span class="icon has-text-info">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                  </div>
                </div>
              </div>
            </a>
  
          </div>
          </div>
  
        <div class="navbar-item">
          <div class="field is-grouped">

          </div>
        </div>
      </div>
    </div>
</nav>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2">
          <figure class="image is-128x128">
            <img src="../assets/img/book.svg">
          </figure>
        </div>
        <div class="column">
          <br>
          <h1 class="title">
            Contacts
          </h1>
          <h2 class="subtitle">
            <!-- {{ title }} -->
            MEAN Stack based directory to manage all your contacts in one place.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <router-outlet></router-outlet>
</section>      
